<?xml version="1.0"?>

<launch>

    <!-- <arg name="world_name" default="$(find kobuki_control)worlds/taller2.world" /> -->
    <arg name="world_name" default="(find gazebo_ros)/launch/empty_world.launch" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- Spawn kobuki -->
    <include file="$(find kobuki_control)/launch/spawn_robot.launch">
        <!-- <arg name="yaw" value="$(eval -pi/2)"/> -->
    </include>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kobuki_control)/rviz/rviz.rviz"/> 

    <!-- Node python scripts -->
    <node name="control" pkg="kobuki_control" output="screen" type="control7.py"/>
    <node name="sensor" pkg="kobuki_control" output="screen" type="odometer.py"/>
</launch>